* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 120%;
    background-color: lightgray;
}

/* Styling for all buttons */
button {
    display: inline-block;
    color: black;
    background-color: lightcoral;
    font-size: 100%;
    border-radius: 7px;
    cursor: pointer;
    margin: 10px;
    padding: 2px 15px;
}

button:hover {
    background-color: lightgreen;
}

.options button {
    display: block;
}

.wrap {
    margin: 100px auto 100px auto;
    max-width: 500px;
}

/* Styling for titles */
h1 {
    text-align: center;
    border-bottom: 5px solid purple;
    font-weight: bold;
    font-size: 65px;
}

h3 {
    text-align: center;
    border-bottom: 5px solid purple;
    font-weight: bold;
    font-size: 35px;
}

.start {
    text-align: center;
}

.hide {
    display: none;
}

.time {
    border: 3px solid red;
    margin: 10px;
    padding: 5px;
    max-width: 200px;
}

.highscore {
    text-align: center;
}

.response {
    text-align: center;
    text-decoration: underline;
    max-width: 500px;
    border-top: 2px solid black;
}